<div class="brand-name">
    <a href="#">AppName</a>
</div>
<ul class="menu-list list-unstyled">
    <li class="active"><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
    <li><a href="#encuestas/">Encuestas</a></li>
</ul>